<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h1 class="page-header">About Us</h1>
			<img src="./assets/img/vinayak.jpg"> <br><br>
			<b>Background</b> <br><br>
			{{aboutus_writeup}}
		<!-- 	<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">
						Dashboard</a></li>
				<li class="active"><i class="fa fa-fw fa-bar-chart-o"></i> High
					Chart</li>
			</ol>  -->
		</div>
	</div>
	<div class="row">
	 	
	
		

  
	</div>
</div>