<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
		<!--  	<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" /> -->
			<h1>Sri Rama Navami Utsava Committee</h1>
			
				<!--  <div class="form-content">
					<div class="form-group">
						<input type="text" ng-model="name"
							class="form-control input-underline input-lg" id=""
							placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password"
							class="form-control input-underline input-lg" id=""
							placeholder="Password">
					</div>
				</div>
				-->
				<img src="assets/img/Ramaphotos/rama1.jpg" width = "400px" height = "500px">
				<p>Think of Lord Rama and utter "Ram" twice and enter the site</p>
				<a class="btn rounded-btn" routerLink="/dashboard/home" > Pravesh </a>
		<!--    	</a> &nbsp; <a type="submit" class="btn rounded-btn"
					routerLink="/signup">Register</a> -->	
			
		</div>
	</div>
</div>
